<!-- Importing required styling sheets -->

<link rel="stylesheet" href="/css/justsignin.css">
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/employeeview.css">


<!-- Home page main section to hold everything inside it. create for hide scrollbar with scroll events -->

<section id="postSection">

    <!-- Show only user is logged in using passport -->
    <%  if(locals.user) { %>

        <!-- if the user is Admin -->
        <% if(user.emptype == 'Admin') { %>

            <div id="EmployeeSection">
        
                <% for(emp of all_emp) { %>
                    <div id="EmployeeDetails">
                        <div class="parent">
                            <div class="child">
                                <span> Name : </span> 
                                <h3> <%- emp.name %> </h3>
                            </div>
                            <div  class="child">
                                <span> Email :    </span> 
                                <p> <%- emp.email %> </p>
                            </div>
                            <div class="child">
                                <span> Category : </span> 
                                <p> <%- emp.emptype %> </p>
                            </div>
                            <div class="child">
                                <span> Rating : </span> 
                                <p> <%- emp.rating %> </p>
                            </div>
                        </div>
                        <div class="buttonclass">

                            <form action="/users/switchAdmin/<%= emp.id %>" method="post" autocomplete="off">
                                <button value="<%- emp.email %>" class="switchAdminBtn"> Switch Admin </button>
                            </form>

                            <form action="/users/delete/<%= emp.id %>" method="post" autocomplete="off">
                                <button value="<%= emp.id %>" class="deleteuser" type="submit"> Delete Emp</button>
                            </form>

                            <% if(!emp.isreview) { %>
                                <form action="/makereview/create/<%= emp.id %>" method="post" autocomplete="off">
                                    <button type="submit" value= "<%- emp.email %>" class="assignReviewBtn"> Review Him </button>
                                </form>
                            <% } else { %>
                                <form class="underReviewform" onsubmit="noaction()" autocomplete="off">
                                    <button type="submit" value="<%- emp.email %>" class="underReview"> Under Review </button>
                                </form>
                            <% }  %>

                        </div>
                        <div class="buttonclass">

                            <% if (! emp.finalrating ) { %>
                                <form class="ratingform" action="/users/updaterating/<%= emp.id %>" method="post" autocomplete="off">
                                    <input autocomplete="false"  value="10" max="10" min="1" type="number" name="updatedFinalRating" id="">
                                    <button id="checkerbtn" type="submit" class="reviewBtn"> Submit </button>
                                </form>
                            <% } else { %>
                                <form class="ratingform"  autocomplete="off">
                                    <h3> Final Rating allocated :  </h3>
                                    <h2> <%= emp.finalrating %> </h2>
                                </form>
                            <% } %>

                        </div>
                    </div>
                <% } %>
            
            </div>

        <!-- if the user is an Employee -->
        <% } else { %>

            <!-- If feedbacks present  -->
            <% if(totalfeed > 0)  { %>

                <div id="main2">

                    <!-- division to show about other users to make that people review by him, forms & input is use to rate other people -->
                    <!-- used targetid as the people who we giving a rating along with current user details -->
                    <div class="reviewlist">

                        <% for(feed of feedlist) { %>
                            <% if(feed.emptype=="Employee") { %>
                                
                                <div class="empview">
                                    <div id="name">
                                        <h3 class="nameheader"> Name    </h3>
                                        <p  class="colon"     > :      </p>
                                        <h2 class="namevalue" > <%= feed.name %> </h2>
                                    </div>
                                    <div id="emailid">
                                        <h3 class="nameheader"> Email   </h3>
                                        <p  class="colon"     > :       </p>
                                        <h2 class="namevalue" > <%= feed.email %> </h2>
                                    </div>
                                    <% if (feed.emptype == "Employee") { %>
                                        <form action="/users/addrate/<%= user.email %>" method="post" id="empRatingForm">
                                            <input autocomplete="false"  type="hidden" style="display:none" name="targetID" value="<%= feed.targetid %>" >
                                            <div>
                                                <h3 class="nameheader">Rate </h3>
                                                <p  class="colon"     > :       </p>
                                                <input autocomplete="false"  type="number" name="rate" id="emprate" min="1" max="10">
                                            </div>
                                            <button type="submit">Send</button>
                                        </form>
                                    <% } else { %>
                                            <p id="adminrate"> <span>He is Admin now. </span> Rating only for employee's </p>                                      
                                    <% } %>
                                    
                                </div>
                                
                            <% } %>
                        <% } %>
                    </div>

                </div>
            
            <!-- when there is not feedback to give. -->
            <% } else {  %>

                <div id="main3">

                    <h1> <span> Hey! </span> You are all done. or not assigned any feedback to you. </h1>
                    <p> Please try after sometime by reload a website. </p>

                </div>

            <% }  %>
            
        <% } %>

    <!-- request user to login If they didn't at start  -->
    <% } else { %>

        <h1 class="request">Please <a href="/users/sign-in"> Sign In </a> or <a href="/users/sign-up"> register </a> to Continue</h1>

    <% } %>

</section>


<!-- Importing required scripts -->

<script src="/js/home_posts.js"></script>

<!-- script for no action -->
<script>

    function noaction(){
        return false
    }

</script>